.screen{
    background-color: rgba(214, 214, 214, 0.168);
    min-height: 100vh;
}
.nav{ 
    background-color: #3d8bfd; 
    width:30vw;
    min-height: 100vh;
    justify-content: space-between;
    
}
.upper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 1.25vw;
    height: 80vh;
}
.nav-link{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: left;
}
.lower{
    display: flex;
    font-size: 1.25vw;
    flex-direction: column;
    text-align: left;
}
#logo{
    height: 25px;
    width: 25px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.colo{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
#greenbg{
    background-color: rgb(217, 247, 217);
    color: green;
}
#bluebg{
    background-color: rgb(221, 236, 243);
}
.psize{
    font-size: x-small;
}
.psizepara{
    font-size:small;
}
.pendingmargin{
    margin: 9%;
}
.invoicesheader{
    display: flex;
    justify-content: space-between;
}
.search{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
tr{
    background-color: white;
}
..posi{
    display: inline;
    padding: 10%;
}
tr{
    border: 0;
}
.nav a:hover{
    background-color: #0b21596f;
    border-radius: 10em 0em 0em 10em;
    transition: 0.6s ease-in-out;
}
.table {
    border-collapse: separate;
    border-spacing:  0 1.5em;
}
.button-R{
    border-radius: 2em;
}